body {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 100%;
  font-family: cursive;
}

#icon {
  display: flex;
  width: 30%;
  max-height: 300px;
  max-width: 200px;
}

h1 a {
  margin-top: 5px;
  font-size: 2rem;
  color: rgb(245, 202, 11);
}

main img {
  max-width: 50%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
}

button {
  background-color: rgb(245, 202, 11);
  padding: 1rem;
  border: solid 0.5px black;
  margin-top: 5%;
  font-family: cursive;
  font-size: large;
}

button:hover {
  background-color: rgb(255, 123, 0);
  transition-duration: 0.5s;
}

a {
  text-decoration: none;
}

nav {
  border: 0.5px solid black;
  margin-bottom: 5%;
}

ul {
  background: rgb(245, 202, 11);
  list-style: none;
  margin: 0;
  padding-left: 0;
  display: flex;
  flex-wrap: wrap;
}

li {
  color: black;
  background: rgb(245, 202, 11);
  display: block;
  padding: 1rem;
  text-decoration: none;
  transition-duration: 0.5s;
  flex-grow: 1;
}

li a {
  color: black;
}

li:hover,
li:focus-within {
  background: rgb(255, 123, 0);
  cursor: pointer;
}

li:focus-within a {
  outline: none;
}

p {
  max-width: 50%;
}
