body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin: 0;
}

header {
  margin: 10% 0% 10% 10%;
}

h1 {
  font-weight: 500;
  font-size: 1.5em;
}

bold {
  font-weight: 700;
  margin-top: 5px;
}

main p {
  transform: translate(-103%, 50%);
}

ul {
  display: flex;
  flex-wrap: wrap;
}

li {
  display: flex;
  height: 50px;
  text-decoration: none;
  margin-bottom: 10px;
}

li img:nth-of-type(1) {
  max-width: 50px;
  margin-right: 10px;
}

li img:nth-of-type(2) {
  display: flex;
  max-width: 20px;
  max-height: 20px;
  align-self: center;
  margin-left: 40%;
  cursor: pointer;
}

footer {
  display: flex;
  position: fixed;
  bottom: 0;
  max-width: 100%;
  background-color: white;
}

footer a {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

footer img {
  width: 50%;
}
