body {
  margin: 0;
}

header {
  margin: 10% 0% 10% 10%;
}

h1 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 500;
  font-size: 1.5em;
}

ul {
  display: flex;
}

li {
  display: flex;
  height: 50px;
  text-decoration: none;
}

li img {
  max-width: 50px;
}

footer {
  display: flex;
  position: fixed;
  bottom: 0;
  max-width: 100%;
  background-color: white;
}

footer a {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

footer img {
  width: 50%;
}
