body {
	background-color: rgb(102, 175, 180);
	font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.row {
	display: flex;
	margin-top: 10%;
	margin-left: auto;
	margin-right: auto;
	width: 80%;
}

h4 {
	font-weight: 700;
}

.list-group-item {
	display: flex;
	margin-left: auto;
	margin-right: auto;
	width: 100%;
	max-height: 50px;
}

.list-group-item img:nth-of-type(2) {
	margin-right: 10px;
	height: 27px;
	width: 27px;
}

.list-group-item img:nth-of-type(1) {
	margin-right: 10px;
	height: 17px;
	width: 17px;
	align-self: center;
}

.list-group-item p {
	margin-left: auto;
}
